@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
  color: white;
  transition: background-color 1s ease-out 100ms
}

.link:hover{
  background-color: #B56727;
}

div {
    font-size: 20px;
}

/*body {
    background-image: url('tree.jpg');
    background-size: cover;
    height: 100vh;
    animation: changeBackground 20s infinite; /* Change background every 10 seconds, adjust as needed */
 /*  }  */
  
  /* @keyframes changeBackground {
    0% {
      background-image: url('trees.jpg');
    }
    33% {
      background-image: url('path.jpg');
    }
    66% {
      background-image: url('forest.jpg');
    }
  } */
