@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
  color: white;
  transition: background-color 1s ease-out 100ms
}

.link:hover{
  background-color: #B56727;
}

div {
    font-size: 25px;
    color: #fdf6e4;
}

